@import "../../../styles/mixins.scss";

.component {
  background-color: var(--white-color);
  grid-area: chart;
  border-radius: 16px 16px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;

  @include for-desktop {
    border-radius: 16px;
    margin-top: 0;
  }
}
