@import "../../../styles/mixins.scss";

.component {
  background-color: var(--white-color);
  grid-area: forecast;
  padding: 10px 10px 25px;
  display: flex;
  justify-content: center;

  @include for-tablet {
    padding: 10px 25px;
  }

  @include for-desktop {
    padding: 25px 40px;
    border-radius: 16px;
  }
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 100%;
  width: 100%;
  overflow: auto;
}
