@import "../../../styles/mixins.scss";

.component {
  display: grid;
  column-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 400px max-content;
  grid-template-areas: "current" "chart" "forecast";
  overflow: auto;

  @include for-desktop {
    gap: 10px;
    padding: 25px;
    padding-top: 5px;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "current forecast" "chart forecast";
  }
}
