.component {
  display: flex;
  align-items: center;
  height: 60px;
  list-style: none;
  cursor: pointer;
}

.link {
  height: 100%;
  border-left: 4px solid transparent;

  &_active {
    border-color: var(--white-color);
    color: var(--white-color);
  }
}
